{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container my-4">

    <div class="mb-4 text-center">
    {% if app.user %}
            <h1>Bienvenue {{ app.user.username }} !</h1>        
    {% else %}
            <h1>Bienvenue !</h1>        
    {% endif %}
    </div>

    <div class="mt-4">
            <h3>Les catégories disponibles : </h3>
        

            <table class="table">
                <thead>
                    <tr>
                        <th>Catégories</th>
                        <th>Description</th>
                        <th>API endpoint</th>
                        <th>Accès</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Users</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des utilisateurs</td>
                        <td>api/users</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_user_index') }}">Users</a></td>
                    </tr>
                    <tr>
                        <td>Items</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des items</td>
                        <td>api/items</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_item_index') }}">Items</a></td>
                    </tr>
                    <tr>
                        <td>ListItems</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des items d'un utilisateur</td>
                        <td>api/list_items</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_list_item_index') }}">ListItems</a></td>
                    </tr>
                    <tr>                    
                        <td>Modes</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des modes</td>
                        <td>api/modes</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_mode_index') }}">Modes</a></td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des tags</td>
                        <td>api/tags</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_tag_index') }}">Tags</a></td>
                    </tr>
                    <tr>
                        <td>Plateformes</td>
                        <td>Permet l'affichage, l'ajout, la modification et la suppression des plateformes</td>
                        <td>api/platforms</td>
                        <td><a class="btn btn-success btn-sm" style="width:100px" href="{{ path('app_platform_index') }}">Plateformes</a></td>
                    </tr>
                </tbody>
            </table>

        <div class="d-flex justify-content-around mt-5">
            <div>
                <h3>Les derniers items ajoutés : </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            {% if loop.index < 4 %}
                                    <tr>
                                        <td class = "align-middle">{{ item.id }}</td>
                                        <td class = "align-middle">{{ item.name }}</td>
                                        <td class = "align-middle">
                                            <div class="d-flex align-middle gap-1">
                                            <a class="btn btn-sm btn-primary mb-2" href="{{ path('app_item_show', {'id': item.id}) }}"><ion-icon name="eye-outline"></ion-icon></a>
                                            <a class="btn btn-sm btn-warning mb-2" href="{{ path('app_item_edit', {'id': item.id}) }}"><ion-icon name="create-outline"></ion-icon></a>
                                            {{ include('item/_delete_form.html.twig') }}
                                            </div>
                                        </td>
                                    </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                <h4><a class="btn btn-sm btn-success" href="{{ path('app_item_index') }}">Voir la totalité de la liste</a></h4>
            </div>
        <div>
            <h3>Les derniers utilisateurs inscrits : </h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {% if loop.index < 4 %}
                                <tr>
                                    <td class = "align-middle">{{ user.id }}</td>
                                    <td class = "align-middle">{{ user.userIdentifier }}</td>
                                    <td class = "align-middle">{{ user.email }}</td>
                                    <td class = "align-middle">
                                        <div class="d-flex align-middle gap-1">
                                            <a class="btn btn-sm btn-primary mb-2" href="{{ path('app_user_show', {'id': user.id}) }}"><ion-icon name="eye-outline"></ion-icon></a>
                                            <a class="btn btn-sm btn-warning mb-2" href="{{ path('app_user_edit', {'id': user.id}) }}"><ion-icon name="create-outline"></ion-icon></a>
                                            {{ include('user/_delete_form.html.twig') }}
                                        </div>
                                    </td>
                                </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            <h4><a class="btn btn-sm btn-success" href="{{ path('app_user_index') }}">Voir la totalité de la liste</a></h4>
        </div>
    </div>
</div>
{% endblock %}
