{% extends 'base.html.twig' %}

{% block title %}Plateformes{% endblock %}

{% block body %}
<div class="container my-4">
{{ include('_flash_messages.html.twig') }}

    <div class="d-flex justify-content-between mb-4">
        <h1>Liste des Plateformes</h1>
        <a class="btn btn-success align-self-center" href="{{ path('app_platform_new') }}">Créer une nouvelle Plateforme</a>
    </div>
    
    <div class="dropdown mb-4">
        <button class="btn btn-secondary dropdown-toggle btn-light" style="background-color:#FFA47A; border-color: #FFA47A"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrer par Mode
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for mode in modes %}
                <a class="dropdown-item" href="{{ path('app_platform_index_mode', {'modeId': mode.id }) }}">{{ mode.name }}</a>
            {% endfor %}
            <a class="dropdown-item" href="{{ path('app_platform_index') }}">Tout voir</a>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for platform in platforms %}
            <tr>
                <td class = "align-middle" >{{ platform.id }}</td>
                <td class = "align-middle" >{{ platform.name }}</td>
                <td class = "align-middle" >
                {% for mode in platform.modes %}
                {{ mode }}
                {% if loop.index < loop.length %}
                    , 
                {% endif %}
                {% endfor %}
                </td>
                <td >
                <div class = "align-middle gap-1 d-flex" >
                    <a class="btn btn-sm btn-primary" href="{{ path('app_platform_show', {'id': platform.id}) }}"><ion-icon name="eye-outline"></ion-icon></a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_platform_edit', {'id': platform.id}) }}"><ion-icon name="create-outline"></a>
                    {{ include('platform/_delete_form.html.twig') }} 
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Plateformes trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
