{% extends 'base.html.twig' %}

{% block title %}Plateformes{% endblock %}

{% block body %}
<div class="container my-4">
{{ include('_flash_messages.html.twig') }}
    <h1>Liste des Plateformes</h1>
    <a class="btn btn-success" href="{{ path('app_platform_new') }}">Créer une nouvelle Plateforme</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for platform in platforms %}
            <tr>
                <td class = "align-middle" >{{ platform.id }}</td>
                <td class = "align-middle" >{{ platform.name }}</td>
                <td class = "align-middle" >
                {% for mode in platform.modes %}
                {{ mode }}
                {% endfor %}
                </td>
                <td class = "align-middle">
                    <a class="btn btn-sm btn-primary" href="{{ path('app_platform_show', {'id': platform.id}) }}"><ion-icon name="eye-outline"></ion-icon></a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_platform_edit', {'id': platform.id}) }}"><ion-icon name="create-outline"></a>
                        {{ include('platform/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Plateformes trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
