{% extends 'base.html.twig' %}

{% block title %}Platform{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Platform</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ platform.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ platform.name }}</td>
                </tr>
                <tr>
                    <th>Modes</th>
                    <td>
                        {% for mode in platform.modes %}
                            {{ mode }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Items</th>
                    <td>
                    {% for item in platform.items %}
                        {{ item }} /              
                    {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class ="d-flex gap-1 text-center display-inline">
            <a class="btn btn-sm btn-success" href="{{ path('app_platform_index') }}"><ion-icon name="return-down-back-outline"></ion-icon></a>
            <a class="btn btn-sm btn-warning" href="{{ path('app_platform_edit', {'id': platform.id}) }}"><ion-icon name="create-outline"></a>
            {{ include('platform/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
