{% extends 'base.html.twig' %}

{% block title %}Mode{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Mode</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ mode.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ mode.name }}</td>
                </tr>
                <tr>
                    <th>Couleur</th>
                    <td>{{ mode.color }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ mode.slug }}</td>
                </tr>
                <tr>
                    <th>Plateformes</th>
                        <td>
                        {% for platform in mode.platforms %}
                            {{ platform }}
                            {% if loop.index < loop.length %}
                                 , 
                            {% endif %}
                        {% endfor %}
                        </td>
                </tr>
            </tbody>
        </table>
        <div class ="d-flex gap-1 text-center display-inline">
            <a class="btn btn-sm btn-success" href="{{ path('app_mode_index') }}"><ion-icon name="return-down-back-outline"></ion-icon></a>
            <a class="btn btn-sm btn-warning" href="{{ path('app_mode_edit', {'id': mode.id}) }}"><ion-icon name="create-outline"></a>
            {{ include('mode/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
