{{ form_start(form) }}
    {{ form_widget(form) }}
   
<<<<<<< HEAD
    <button class="btn btn-warning" >{{ button_label|default('Save') }}</button>
=======
    <button class="btn btn-warning" >{{ button_label|default('Ajouter') }}</button>
>>>>>>> develop
{{ form_end(form) }}
